<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.tonyou.mapper.SysRoleAuthMapper">

  
	<!-- 添加角色权限信息 -->
	<insert id="addSysRoleAuth" parameterType="com.cn.tonyou.pojo.SysRoleAuth">
	    insert into 
	    	sys_role_auth(sraId,sysRoleId,sysAuthId) 
	    	values(#{sraId},#{sysRoleId},#{sysAuthId})
	</insert>
	
	<!-- 删除角色权限信息 -->
	<delete id="deleteByIdRoleAuth">
	    delete from sys_role_auth where sysroleid = #{0}
	</delete>
	
</mapper>